body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background: #1F2937;
    color: white;
    align-items: center;
}

.list {
    display: flex;
    gap: 25px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}